name: Publish
on:
  workflow_dispatch:
    inputs:
      version-type:
        type: choice
        description: Which version type to bump
        options:
          - patch
          - minor
          - major

permissions:
  id-token: write  # Required for OIDC
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js environment
        uses: actions/setup-node@v6.2.0
        with:
          node-version-file: .nvmrc
          registry-url: 'https://registry.npmjs.org'

      - name: Test & Build
        run: |
          npm install
          npm run test-ci
          npm run build

      - name: Version Bump
        id: version-bump
        uses: phips28/gh-action-bump-version@v11.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PACKAGEJSON_DIR: projects/ngx-kel-agent/
        with:
          tag-prefix: 'v'
          # Can't use commit wording because manually dispatched workflows don't contain the commits
          version-type: ${{ github.event.inputs.version-type }}

      - name: Rebuild
        run: |
          npm install
          npm run build

      - name: Publish
        working-directory: dist/ngx-kel-agent
        run: npm publish

      - name: Create Release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ steps.version-bump.outputs.newTag }}
          release_name: ${{ steps.version-bump.outputs.newTag }}

      - name: Setup git user/email
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com

      - name: Checkout documentation
        uses: actions/checkout@v6
        with:
          ref: doc
          path: doc

      - name: Generate documentation
        run: |
          mv doc/.git .docgit
          npm run typedoc
          mv .docgit doc/.git

      - name: Publish documentation
        run: |
          COMMIT=`git rev-parse --short HEAD`
          cd doc
          git add -A
          git commit -m "Generated documentation at $COMMIT"
          git push origin doc
