name: Test

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - 'v*[0-9].*[0-9].*[0-9]*'
  pull_request:
    branches:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js environment
        uses: actions/setup-node@v6.0.0
        with:
          node-version-file: .nvmrc

      - name: Test
        run: |
          npm install
          npm run test-ci
          npm run build
